<!-- Slideshow container -->
<div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <h1>Welcome to OKLA!</h1>
      <div class="mySlides fade">
        <img src="https://previews.123rf.com/images/phil_bird/phil_bird1609/phil_bird160900407/63836256-interior-view-of-l-intendant-wine-shop-in-bordeaux.jpg" style="width:80%">

      </div>

      <div class="mySlides fade">
        <img src="https://si.wsj.net/public/resources/images/BN-UA562_0701BO_M_20170626182712.jpg" style="width:80%">

      </div>

      <div class="mySlides fade">
        <img src="https://alllinedwithtrees.files.wordpress.com/2008/06/bordeaux_07.jpg" style="width:80%">
      </div>
</div>

<script>

let slideIndex = 0;
showSlides();

</script>